@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Sans', sans-serif;


}
.name-heading {
    width: fit-content;
    margin: 1rem auto;
}

.navbar {
    position: fixed;
    top: 6rem;
    left: 1rem;
    font-size: 18px;
}

.navbar ul {
    list-style: none;
    text-decoration: none;
}

.navbar ul li {
    margin: 3rem 2rem;
}

.link {
    padding: 12px;
    color: rgb(82, 82, 82);
    text-decoration: none;
}

.active {
    padding: 12px;
    color: rgb(255, 68, 0);
    font-weight: bold;
    text-decoration: none;
    border-right: 4px solid black;

}

.container {
    margin-left: 15rem;
}

.mail-container {
    margin-right: 3rem;
}


.filter-box {
    border: 2px solid black;
    padding: 1rem;
}

.filter-box p {
    position: relative;
    top: -0.8rem;
    background-color: white;
    width: fit-content;
    left: 1rem;
}

label {
    margin-right: 3rem;
}

.heading {
    margin: 1rem 0px 2rem;
}

.mail-box {
    background-color: aliceblue;
    outline: 0.5px solid gray;
    padding: 1rem;
    border-radius: 12px;
    min-width: 270px;
}

.upper {
    position: relative;
    height: 3rem;
}


.star-btn {
    position: absolute;
    top: 0.4rem;
    left: 95%;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.mail-content {
    margin: 10px 0px 0.5rem;
}

.lower {
    position: relative;
    height: 25px;
}

.lower a {
    color: black;
    font-size: 14px
}
.btn-box {
    width: fit-content;
    position: absolute;
    right: 0px;
    top: -0.1rem;
}

.btn {
    margin: 0px 0.5rem;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover {
    font-size: 22px;
}

.bg-white {
    background-color: white;
}

.red {
    color: red;
}

.orange {
    color: rgb(192, 105, 74);
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.yellow {
    color: rgb(159, 159, 36);
}

@media only screen and (max-width: 750px) {
    .navbar {
        position: static;
        width: fit-content;
        margin: auto;
    }

    .navbar ul {
        display: flex;
    }

    .navbar ul li {
        margin: 2rem;
    }

    .active {
        padding: 12px;
        color: rgb(255, 68, 0);
        font-weight: bold;
        text-decoration: none;
        border-bottom: 4px solid black;
        border-right: none;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    .mail-container {
        margin: 0px;
    }

    .mail-heading {
        width: 305px;
    }

    .inp-label {
        display: block;
    }
}